* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #0a0909;
}

.main_page_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main_page_list_display {
  height: 700px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0909;
  padding: 20px 0px;
  width: 100%;
}
.main_page_list_display > h1 {
  color: #fbab47;
}

/* carusul */
.main_page_list_display_carusol {
  padding: 0px 30px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 60px;
  width: 90vw;
  overflow-y: auto;
  transition: ease 350ms;
}

/* width */
.main_page_list_display_carusol::-webkit-scrollbar {
  height: 3px;
}

/* Track */
.main_page_list_display_carusol::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.main_page_list_display_carusol::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.main_page_list_display_carusol::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* carosul end */

/* forms container */
.addTO_forms_container {
  margin-top: 200px;
  margin-bottom: 150px;
  box-sizing: border-box;
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0909;
  color: white;
  padding: 20px 40px;
}

.form_wrapper {
  padding: 10px 40px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  padding: 5px 10px;
  width: 80%;
  font-size: 16px;
  border-radius: 4px;
}

.form button[type="submit"] {
  margin-top: 10px;
  font-size: 18px;
  background: #45a05aab;
  color: #f1f1f1;
  padding: 10px;
  border-radius: 6px;
  width: 85%;
}

.form button[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: -1px -1px 25px rgba(124, 121, 121,0.4);
}

/* forms container end  */
/* ************************************************************************************************** */
/* delete options styling */

.delete_options_wrapper {
  width: 100%;
  height: 100px;

  padding-bottom: 25px;
  background-color: #0a0909;
}

.options_container {
  height: 100px;
  box-sizing: border-box;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete_btn {
  text-align: center;
  height: 15px;
  width: 160px;
  text-decoration: none;
  color: #fdf0f1;
  font-size: 16px;
  border-radius: 4px;
  background-color: #ed5e68;
  padding: 10px;
}

.delete_btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.delete_nth_form {
  gap: 5px;
  height: 15px;
  /* padding:  20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_nth_form input[type="text"] {
  height: 35px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
}

.delete_nth_btn {
  height: 35px;
  padding: 10px;
  color: #fdf0f1;
  font-size: 16px;
  border-radius: 4px;
  background-color: #ed5e68;
  border: none;
  box-sizing: border-box;
}

/* delete option styling end  */
