{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a4fbd4b5ce.js" crossorigin="anonymous"></script>
    <title>Linked List</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/music_card.css' %}">

</head>

<body>
    <div class="nav d-flex">
        <ul class="nav_ul d-flex">
            <li><a class="nav_home" href="{% url 'display_linked_list' %}">Home</a></li>
            <div class="main_page_search_form">
                <form class="d-flex" action="{% url 'search_node' %}" method="post">
                    <!-- action = {% url 'search_node' %}  points to the view search_node in views.py-->
                    {% csrf_token %}
                    <input class="search_field" type="search" placeholder="Search a Title" name="search_parameter"
                        id="">
                    <input class="search_button" type="submit" name="" value="search" id="">
                </form>
            </div>
        </ul>
    </div>
    <div class="main_page_wrapper">
        <div class="main_page_list_display">
            <h1>Play List</h1>
            <div id="display_carousel" class="main_page_list_display_carusol">
                {% if nodes %}
                {% for node in nodes %}
                <a style="text-decoration: none;" href="{% url 'view_node' node.id %}">
                    <div class="music_card">
                        <div class="title_img">
                            <!-- https://uicookies.com/html-music-player/            check HTML Audio Player card for media player card-->
                            <img class="card_image" src="https://source.unsplash.com/random/200x200?sig={{node.id}}">

                        </div>
                        <div class="Node_info_box">
                            <div>
                                <h2>{{ node.Title }} </h2>
                                <small>{{ node.Author }}</small>
                            </div>

                            <i class="fa-solid fa-play" style="font-size: 32px;"></i>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% else %}
                <p>No nodes in the linked list.</p>
                {% endif %}

            </div>
        </div>

        <div class="addTO_forms_container">
            <div class="form_wrapper">
                <h2>Add Node to Front</h2>
                <form method="post" class="form" enctype="multipart/form-data" action="{% url 'add_node_to_front' %}">
                    {% csrf_token %}
                    <label for="title">Title:</label>
                    <input type="text" name="title" required><br>
                    <label for="author">Author:</label>
                    <input type="text" name="author" required><br>
                    <label for="music_file">Music File:</label>
                    <input type="file" name="music_file"><br>

                    <button type="submit">Add Node</button>
                </form>
            </div>

            <div class="form_wrapper">
                <h2>Add Node to tail</h2>
                <form method="post" class="form" enctype="multipart/form-data" action="{% url 'add_node_to_tail' %}">
                    {% csrf_token %}
                    <label for="title">Title:</label>
                    <input type="text" name="title_b" required><br>
                    <label for="author">Author:</label>
                    <input type="text" name="author_b" required><br>
                    <label for="music_file">Music File:</label>
                    <input type="file" name="music_file_b"><br>

                    <button type="submit">Add Node</button>
                </form>
            </div>

            <div class="form_wrapper">
                <h2>Add Node to nth</h2>
                <form method="post" class="form" enctype="multipart/form-data" action="{% url 'add_to_nth' %}">
                    {% csrf_token %}
                    <label for="title">Title:</label>
                    <input type="text" name="nth_title" required><br>
                    <label for="author">Author:</label>
                    <input type="text" name="nth_author" required><br>
                    <label for="music_file">Music File:</label>
                    <input type="file" name="nth_music_file"><br>
                    <input type="number" name="nth_pos" id="">

                    <button type="submit">Add Node</button>
                </form>
            </div>
        </div>

        <div class="delete_options_wrapper">
            <div class="options_container">
                <a class="delete_btn" href="{% url 'delete_head' %}"> <span><i
                            class="fa-solid fa-arrow-left"></i></span>
                    Delete head </a>
                <a class="delete_btn" href="{% url 'delete_tail' %}">Delete tail <span><i
                            class="fa-solid fa-arrow-right"></i></span></a>
            </div>


        </div>

    </div>




</body>

</html>